.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{

    @extend .flex;
    flex-direction: column;
    height: 100%;
    p{
        background: royalblue;

        & + p:hover{
            background-color: salmon;
        }
    }

    

}